<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="io.codelabs.digitutor"
    android:installLocation="auto">

    <!-- Add permissions at runtime -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name=".core.HomeTutorApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/home_tutor_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        tools:replace="android:label"
        android:theme="@style/HomeTutorAppTheme">
        <activity
            android:name=".view.MainActivity"
            android:theme="@style/HomeTutorAppTheme.Light"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenLayout|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.HomeActivity"
            android:theme="@style/HomeTutorAppTheme.Home"
            android:configChanges="orientation|screenLayout|screenSize" />
        <activity
            android:name=".view.LoginActivity"
            android:configChanges="orientation|screenLayout|screenSize"
            android:theme="@style/HomeTutorAppTheme.Light" />
        <activity
            android:name=".view.RegisterActivity"
            android:theme="@style/HomeTutorAppTheme.Light"
            android:configChanges="orientation|screenLayout|screenSize" />
        <activity
            android:name=".view.ResetPassword"
            android:theme="@style/HomeTutorAppTheme.Light"
            android:configChanges="orientation|screenLayout|screenSize" />
        <activity
            android:name=".view.SearchActivity"
            android:configChanges="orientation|screenLayout|screenSize" />
        <activity
            android:name=".view.RequestTutorActivity"
            android:configChanges="orientation|screenLayout|screenSize" />
        <activity
            android:name=".view.AddWardActivity"
            android:configChanges="orientation|screenLayout|screenSize" />
        <activity
            android:name=".view.AssignmentActivity"
            android:configChanges="orientation|screenLayout|screenSize" />
        <activity
            android:name=".view.AddSubjectActivity"
            android:configChanges="orientation|screenLayout|screenSize" />
    </application>

</manifest>